.cards-holder{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    box-sizing: border-box;
    border: 4px solid #c58fff;
    background: #c58fff;
    color: #000;
    padding: 20px 30px;
    margin: 20px;
    flex: 0 0 33%;
    max-width: calc(33% - 40px);
    text-align: left;
    line-height: 26px;
}

.card-item-name {
    font-weight: 700;
    padding-bottom: 5px;
}

.card-item-text{
    font-style: italic;
}

.card-item-date {
    text-align: right;
}